/* ------------------------------------- */
/* Reinicio de los estilos para borrar modificaciones del navegador */
/* ------------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}


/* ------------------------------------- */
/* Estilos para el HOME */
/* ------------------------------------- */
body#home {
    background-color: #5C5C5C;
}
body#sec1{
    background-color: beige;
    text-align: center;
}
body#sec3{
    background-color: #e83c4c;
    text-align: center;
}
#portada{
    display: block;
    margin: 20px auto;
}
#duelo{
    display: block;
    margin: 5px auto;
    margin-bottom: 40px;
}
#max{
    display: block;
    margin: 5px auto;
    margin-bottom: 40px;
}
h1{
    font-family: Poppins;
    font-weight: 900;
    font-size: 70pt;
    text-align: center;
    color: #5C5C5C;
    /* margin-bottom: 1px; */
}
h1#index{
    font-family: Poppins;
    font-weight: 900;
    font-size: 70pt;
    text-align: center;
    color: aliceblue;
}
h1#especial{
    font-family: Poppins;
    font-weight: 900;
    font-size: 70pt;
    text-align: center;
    color: beige;
    display: inline-block;       
    background-color: #5C5C5C;   
    padding: 20px 80px;
    margin: -100px auto 20px auto; 
  
}


h2{
    font-family: Poppins;
    font-size: 24pt;
    text-align: center;
}
h3{
    font-family: Poppins;
    font-weight: 300;
    font-size: 12pt;
    text-align: center;
    color: aliceblue;
    
}
h3#s2{
    font-family: Poppins; 
    text-align: center;    
    font-size: 18px;       
    color: #5C5C5C; 
    margin-bottom: 40px;
}
#parrafo{
    font-family: Poppins;
    max-width: 800px;      
    margin: 0 auto 40px auto; 
    text-align: center;    
    font-size: 18px;       
    color: #5C5C5C;   
}
#parrafo2{
    font-family: Poppins;
    font-weight: 300;
    max-width: 1000px;      
    margin: 0 auto 40px auto; 
    text-align: center;    
    font-size: 18px;       
    color: #5C5C5C;   

}
#parrafo3{
    font-family: Poppins;
    font-weight: 200;
    max-width: 1000px;      
    margin: 0 auto 40px auto; 
    text-align: center;    
    font-size: 18px;       
    color: beige;   

}
#imagenes{
    display: flex;
  justify-content: center; 
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; /* para que se acomoden en celular */
}
#imagenes img{
      width: 40%; 
  max-width: 500px;
  height: auto;
}
#imagen-grande img{
    width: 80%;        
  height: auto;
  margin-top: 40px;
  

}


nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a{
    font-family: Poppins;
    font-weight: 500;
    font-size: 12pt;
    padding: 1% 3%;
    text-decoration: none;
    color: beige;
    background-color:#5C5C5C;
    margin: 10px;
    border-radius: 12px;
}

/* ------------------------------------- */
/* Estilos para las secciones */
/* ------------------------------------- */

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

header{
    background-color: beige;
    padding: 5%;
}
header#sec3{
    background-color: #e83c4c;
    padding: 5%;
}

nav{
    background-color: #e83c4c;
    padding: 2%;

}
nav#final{
    background-color: #5C5C5C;
    padding: 2%;

}

section{
    font-family: Poppins;
    height: 950px; /* Esta propiedad se puede cambiar según el alto del contenido */ 
    background-color: beige;
    padding: 5%;
}
section#s2{
    font-family: Poppins;
    height: 1200px; /* Esta propiedad se puede cambiar según el alto del contenido */ 
    background-color: beige;
    padding: 5%;
}
section#s3{
    font-family: Poppins;
    height: 2000px; /* Esta propiedad se puede cambiar según el alto del contenido */ 
    background-color: #e83c4c;
    padding: 5%;
}
a#s3{
    color: beige;
    text-align: center;
}

footer{
    font-family: Poppins;
    background-color: burlywood;
    padding: 1%;
    text-align: center;
    margin: top;
}